<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.earful">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/earful_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/earful_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Earful">
        <activity
            android:name=".LaunchScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".training.mixing.MixingTipsActivity"
            android:exported="false" />
        <activity
            android:name=".training.mixing.MixingOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".training.ResultsActivity"
            android:exported="false" />
        <activity
            android:name=".menu.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:label="Settings" />
        <activity
            android:name=".training.interval.LevelSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".training.ModeMenuActivity"
            android:exported="false" />
        <activity
            android:name=".training.mixing.MixingTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".menu.MainActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".training.interval.IntervalTipsActivity"
            android:label="Interval Tips" />
        <activity
            android:name=".training.interval.IntervalTrainingActivity"
            android:label="Interval Training" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name=".settings.notifications.NotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".settings.notifications.NotificationIntentService"
            android:exported="false" />
    </application>

</manifest>